<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <section class="panel">
        <header class="panel-heading">
            User Table
        </header>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-2">#</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Gender</th>
                <th class="col-md-1">locale</th>
            </tr>
            </thead>
            <tbody>
            <%User.all.each do |user|%>
              <tr>
                  <td><%=user.fb_id%></td>
                  <td><%=user.name%></td>
                  <td><%=user.gender%></td>
                  <td><%=user.locale%></td>
              </tr>
            <%end%>
            </tbody>
        </table>
    </section>
  </div>
</div>
