<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li ><%= link_to 'Back', :back %></li>
    </ul>
  </div>
</nav>